* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --inter: "Inter", sans-serif;
    --lexend-deca: "Lexend Deca", sans-serif;
}
body {
    font-size: 14px;
    font-family: var(--inter), var(--lexend-deca); 
    color: white;
}
.container {
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: auto;   
}
.card {
    display: flex;
    align-self: center;
    width: 70%;
    padding: 0;
    border-radius: 12px;
    background-color: hsl(244, 38%, 16%);
}
.type-text {
    padding: 70px;
    display: flexbox;
    text-align: start;
    min-height: min-content;
}
.type-text span {
    color: hsl(277, 64%, 61%);
}
.number {
   display: flex;
   height: min-content;
   justify-content: space-between;
}
.image-box img {
    height: 100%;
    width: 100%;
    border-radius: 0 12px 12px 0;
}
.attribution {
    background-color: hsl(233, 47%, 7%) ;
}
@media screen and (max-width: 600px){
    .container {
       width: 100%;
    }
    .card {
        display: flex;
        align-self: center;
        width: 80%;
        padding: 0;
        border-radius: 12px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
    .type-text  {
        transform: translateY(45%);
        align-items: center;
    }
    .type-text h1,p {
        text-align: center;
    }
    .number {
        justify-content:space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .image-box {
        width: 0;
    }
    .image-box img {
        border-radius: 12px 12px 0 0;
        width: 332px;
        height: 0%;
        transform: translateY(-210%);
    }
    .attribution {
        display: none;

    }
}  

